.container-fluid.bg-dark.text-secondary.mt-5.pt-5
  .row.px-xl-5.pt-5
    .col-lg-4.col-md-12.mb-5.pr-3.pr-xl-5
      h5.text-secondary.text-uppercase.mb-4 Get In Touch
      p.mb-4
        | No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no
      p.mb-2
        i.fa.fa-map-marker-alt.text-primary.mr-3
        | 123 Street, New York, USA
      p.mb-2
        i.fa.fa-envelope.text-primary.mr-3
        | info@example.com
      p.mb-0
        i.fa.fa-phone-alt.text-primary.mr-3
        | +012 345 67890
    .col-lg-8.col-md-12
      .row
        .col-md-4.mb-5
          h5.text-secondary.text-uppercase.mb-4 Quick Shop
          .d-flex.flex-column.justify-content-start
            a.text-secondary.mb-2(href='#')
              i.fa.fa-angle-right.mr-2
              | Home
            a.text-secondary.mb-2(href='#')
              i.fa.fa-angle-right.mr-2
              | Our Shop
            a.text-secondary.mb-2(href='#')
              i.fa.fa-angle-right.mr-2
              | Shop Detail
            a.text-secondary.mb-2(href='#')
              i.fa.fa-angle-right.mr-2
              | Shopping Cart
            a.text-secondary.mb-2(href='#')
              i.fa.fa-angle-right.mr-2
              | Checkout
            a.text-secondary(href='#')
              i.fa.fa-angle-right.mr-2
              | Contact Us
        .col-md-4.mb-5
          h5.text-secondary.text-uppercase.mb-4 My Account
          .d-flex.flex-column.justify-content-start
            a.text-secondary.mb-2(href='#')
              i.fa.fa-angle-right.mr-2
              | Home
            a.text-secondary.mb-2(href='#')
              i.fa.fa-angle-right.mr-2
              | Our Shop
            a.text-secondary.mb-2(href='#')
              i.fa.fa-angle-right.mr-2
              | Shop Detail
            a.text-secondary.mb-2(href='#')
              i.fa.fa-angle-right.mr-2
              | Shopping Cart
            a.text-secondary.mb-2(href='#')
              i.fa.fa-angle-right.mr-2
              | Checkout
            a.text-secondary(href='#')
              i.fa.fa-angle-right.mr-2
              | Contact Us
        .col-md-4.mb-5
          h5.text-secondary.text-uppercase.mb-4 Newsletter
          p Duo stet tempor ipsum sit amet magna ipsum tempor est
          form(action='')
            .input-group
              input.form-control(type='text' placeholder='Your Email Address')
              .input-group-append
                button.btn.btn-primary Sign Up
          h6.text-secondary.text-uppercase.mt-4.mb-3 Follow Us
          .d-flex
            a.btn.btn-primary.btn-square.mr-2(href='#')
              i.fab.fa-twitter
            a.btn.btn-primary.btn-square.mr-2(href='#')
              i.fab.fa-facebook-f
            a.btn.btn-primary.btn-square.mr-2(href='#')
              i.fab.fa-linkedin-in
            a.btn.btn-primary.btn-square(href='#')
              i.fab.fa-instagram
  .row.border-top.mx-xl-5.py-4(style='border-color: rgba(256, 256, 256, .1) !important;')
    .col-md-6.px-xl-0
      p.mb-md-0.text-center.text-md-left.text-secondary
        | &copy; 
        a.text-primary(href='#') Domain
        | . All Rights Reserved. Designed
        |                     by
        a.text-primary(href='https://github.com/Mironshoh1603')  Mironshoh Asadov
    .col-md-6.px-xl-0.text-center.text-md-right
      img.img-fluid(src='/img/payments.png' alt='')
